/node_modules
/public/hot
/public/storage
/public/theBlog
/public/assets
/public/css/app.css
/public/js/app.js
/storage/*.key
/vendor
.env
.env.local
.env.production
.env.prod
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
