// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

@import 'base/variables';
@import 'base/mixins';
@import 'base/normalize';
@import 'base/scaffolding';
@import 'base/type';
@import 'base/buttons';
@import 'base/colors';
@import 'shared/header';
@import 'shared/footer';
@import 'shared/global';
@import 'partials/intro';
@import 'partials/about';
@import 'partials/countdown';
@import 'partials/entries';
@import 'partials/participants';
@import 'partials/becomeSponsor';
@import 'partials/inspiration';
@import 'partials/judges';
@import 'partials/prizes';
@import 'partials/registrationBanner';
@import 'partials/sponsors';
@import 'partials/takePart';
@import 'pages/home';
@import 'pages/subpage';

//@import '~bootstrap/scss/bootstrap';

html {
    min-width: 350px;
}

.nav-item {
    font-size: 0.8rem;
}

@media (min-width: 992px) {
    .nav-item {
        font-size: 1rem;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}

.floating {
    animation: floating 3s ease infinite;
}
.floating:hover {
    animation-play-state: paused;
}
.floating-lg {
    animation: floating-lg 3s ease infinite;
}
.floating-sm {
    animation: floating-sm 3s ease infinite;
}

.bg-gradient-success {
    background: linear-gradient(87deg, #2dce89 0, #2dcecc 100%) !important;
}

.btn-white {
    color: #3f9865;
    border-color: #fff;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.btn-white:hover {
    color: #3f9865;
    border-color: white;
    background-color: white;
}
.btn-white:focus,
.btn-white.focus {
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08),
        0 0 0 0 rgba(255, 255, 255, 0.5);
}

[class*='shadow'] {
    transition: all 0.15s ease;
}

.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.shadow,
.profile-page .card-profile .card-profile-image img {
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1),
        0 5px 15px rgba(0, 0, 0, 0.07) !important;
}

.shadow-md {
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.175) !important;
}

.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.shadow-none {
    box-shadow: none !important;
}

.shadow-sm--hover:hover {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.shadow--hover:hover {
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1),
        0 5px 15px rgba(0, 0, 0, 0.07) !important;
}

.shadow-lg--hover:hover {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.shadow-none--hover:hover {
    box-shadow: none !important;
}

.navbar-light .navbar-toggler {
    border-color: transparent;
}

.navbar-toggler-icon {
    width: 1.1em;
    height: 1.1em;
}

.timer {
    display: inline-block;
    font-size: 1em;
    padding: 1em;
    text-transform: uppercase;
    list-style-type: none;
}

.timer span {
    font-size: 2em;
    display: block;
}

.min-height-100 {
    min-height: 100%;
}
.judge-img {
    width: 50%;
    margin: 10px auto;
    max-width: 150px;
}

.become-donor {
    text-align: center;
    margin-top: 10px;
}

.register-box {
    text-align: center;
    background-size: contain;
    height: 300px;
    padding-top: 140px;
    background-repeat: no-repeat;
    background-position: center;
}

.event-date {
    text-align: left;
    font-size: 16px;
    margin: 0px auto;
    padding-left: 0px;
    padding-right: 10px;
}

.event-date span {
    font-size: 12px;
    line-height: 18px;
    float: right;
}

h1 strong {
    font-weight: 600;
}

.nav-item:hover {
    text-decoration: underline;
}

.icon-action:hover span {
    filter: none;
}

/* avatars */

.avatar {
    font-size: 1rem;
    display: inline-flex;
    width: 48px;
    height: 48px;
    color: #fff;
    border-radius: 50%;
    background-color: #adb5bd;
    align-items: center;
    justify-content: center;
}

.avatar img {
    width: 100%;

    border-radius: 50%;
}

.avatar + .avatar-content {
    display: inline-block;
    margin-left: 0.75rem;
}

.avatar-lg {
    font-size: 0.875rem;
    width: 58px;
    height: 58px;
}

.avatar-sm {
    font-size: 0.875rem;
    width: 38px;
    height: 38px;
}

.avatar-xs {
    font-size: 0.5rem;
    width: 20px;
    height: 20px;
}

.avatar-group .avatar {
    position: relative;
    z-index: 2;
    border: 2px solid #fff;
}

.avatar-group .avatar:hover {
    z-index: 3;
}

.avatar-group .avatar + .avatar {
    margin-left: -1rem;
}
