.border-img__top {
    width: 100%;
    height: 13px;
    display: flex;
    margin-bottom: -3px;
}

.border-img__bot {
    width: 100%;
    height: 13px;
    display: flex;
    margin-top: -3px;
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: 'FlipV';
}

.border-img__top--blue {
    background: url('../../../public/img/decorative/border-blue.svg') repeat-x
        center bottom;
}

.border-img__bot--blue {
    background: url('../../../public/img/decorative/border-blue.svg') repeat-x
        center bottom;
}

.border-img__top--gray-light {
    background: url('../../../public/img/decorative/border-gray-light.svg')
        repeat-x center bottom;
}

.border-img__bot--gray-light {
    background: url('../../../public/img/decorative/border-gray-light.svg')
        repeat-x center bottom;
}
.border-img__top--gray {
    background: url('../../../public/img/decorative/border-gray.svg') repeat-x
        center bottom;
}

.border-img__bot--gray {
    background: url('../../../public/img/decorative/border-gray.svg') repeat-x
        center bottom;
}

.border-img__top--green {
    background: url('../../../public/img/decorative/border-green.svg') repeat-x
        center bottom;
}

.border-img__bot--green {
    background: url('../../../public/img/decorative/border-green.svg') repeat-x
        center bottom;
}

.border-img__top--black {
    background: url('../../../public/img/decorative/border-black.svg') repeat-x
        center bottom;
}

.border-img__bot--black {
    background: url('../../../public/img/decorative/border-black.svg') repeat-x
        center bottom;
}
