.becomeSponsor__container {
    background-color: $white;
}

.becomeSponsor__inner {
    flex-direction: column;
    align-items: center;
    @include pad-bot-large;
}

.becomeSponsor__header {
}

.becomeSponsor__title {
    color: $black;
    @include font-size($text-xl);
    margin: 0;
}

.becomeSponsor__p {
    color: $grayDark;
    max-width: 520px;
    text-align: center;
}

.becomeSponsor__cta {
    @include mar-top-standard;
    text-decoration: none;
}
