.becomeSponsor__container {
}

.becomeSponsor__inner {
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    @include pad-top-large;
    @include pad-bot-large;
}

.becomeSponsor__title {
    text-align: center;
    font-weight: normal;
    margin: 0;
    @include font-size($text-xxl);
}
