.entries__container {
    background-color: $blue;
}

.entries__inner {
    flex-direction: column;
    align-items: center;
    @include pad-top-large;
    @include pad-bot-large;
}

.entries__header {
}

.entries__title {
    color: $white;
}

.entries__intro {
    color: $white;
}
