.inspiration__container {
    background: rgb(235, 236, 244);
    background: linear-gradient(
        180deg,
        rgba(235, 236, 244, 1) 0%,
        rgba(255, 255, 255, 1) 100%
    );
}

.inspiration__inner {
    flex-direction: column;
    align-items: center;
    @include pad-top-large;
    @include pad-bot-large;
}

.inspiration__header {
}

.inspiration__title {
    color: $black;
}

.inspiration__intro {
    color: $gray;
}
