.inspiration__container {
    background: $white;
}

.inspiration__inner {
    flex-direction: column;
    align-items: center;
    @include pad-top-large;
    @include pad-bot-large;
}

.inspiration__header {
    margin-bottom: 0;
    padding-bottom: 0;
}

.inspiration__title {
    color: $black;
}

.inspiration__intro {
    color: $gray;
}
