.top__container {
    padding-top: 90px;
    @include mq('tablet') {
        padding-top: 175px;
    }
}

.intro__container {
    // background: $gray;
}

.intro__inner {
    flex-direction: column;
    align-items: center;
    @include pad-top-large;
    @include pad-bot-large;
}

.intro__title {
    max-width: 680px;
    text-align: center;
    font-weight: bold;
    margin: 0;
    @include font-size($text-xl);
    @include mq('desktop') {
        font-size: 42px;
        line-height: 56px;
    }
}

.intro__key {
    max-width: 780px;
    @include pad-top-small;
    @include pad-bot-standard;
    margin: 0 0 10px;
    list-style-type: none;
    padding: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    @include mq('tablet') {
        flex-direction: row;
    }
}

.intro__key--welcome {
    padding-top: 10px;
    @include mq('tablet') {
        @include mar-bot-small;
    }
}

.intro__key-item {
    @include font-size($text);
    color: $gray;
    @include mq('tablet') {
        margin-right: 40px;
        &:last-child {
            margin-right: 0;
        }
    }
}

.intro__key-item--mobile {
    text-align: center;
    margin: 10px 0 20px 0;
}

.intro__cta {
    text-decoration: none;
    margin: 0;
    a {
    }
}

.intro__secondary-cta {
    @include links-on-light;
    margin-top: 40px;
    @include font-size($text);
    @include mq('tablet') {
        margin-top: 50px;
    }
}

// INTRO LOGGED IN

.intro__next-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    display: grid;
    justify-content: space-between;
    @include mq('tablet') {
        max-width: 48.5%;
    }
}

.intro__next-item {
    border: 1px solid $grayBorder;
    display: flex;
    justify-content: space-between;

    flex-direction: column;
    padding: 40px;
    @include white-box;
    @include links-on-light;
    @include mar-bot-standard;
    &:last-child {
        margin-bottom: 0;
    }
    h3 {
        @include font-size($text-lg);
        margin: 0 0 10px;
        text-align: center;
    }
    p {
        @include font-size($text-sm);
        color: $grayDark;
        text-align: left;
        margin-top: 0;
        margin-bottom: 30px;
    }
    a {
        @include font-size($text-sm);
        //text-decoration: none;
    }
}

.intro__next-cta {
    width: 100%;
    a {
        width: 100%;
        text-decoration: none;
    }
}

.intro__sections {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include mq('tablet') {
        flex-direction: row;
    }
}

.intro__todo {
    width: 100%;
    display: flex;
    background: $blue;
    @include mar-bot-standard;
    margin-top: 30px;
    @include mq('tablet') {
        width: 48.5%;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.intro__todo-content {
    display: flex;
    padding: 40px;
    flex-direction: column;
    h2 {
        color: $white;
        text-align: left;
        margin-top: 0;
        @include mq('tablet') {
            
        }
    }
    h3 {
        color: $white;
        text-align: left;
        margin-top: 20px;  
        margin-bottom: 0;
        padding-bottom: 0;
    }
    p {
        color: $white;
        margin: 0;
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    li {
        margin: 0.5em 0;
        padding-left: 0;
        @include font-size($text);
        color: $white;
    }
}

// product hunt badge

.ph__container {
    position: fixed;
    bottom: 7px;
    right: 10px;
    z-index: 9;
}
