.top__container {
    padding-top: 90px;
    @include mq('tablet') {
        padding-top: 175px;
    }
}

.intro__container {
    // background: $gray;
}

.intro__inner {
    flex-direction: column;
    align-items: center;

    @include pad-top-large;
    @include pad-bot-large;
}

.intro__title {
    max-width: 600px;
    text-align: center;
    font-weight: bold;
    margin: 0;
    @include font-size($text-xl);
}

.intro__key {
    max-width: 780px;
    @include pad-top-small;
    @include pad-bot-standard;
    margin: 0 0 10px;
    list-style-type: none;
    padding: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    @include mq('tablet') {
        flex-direction: row;
    }
}

.intro__key-item {
    @include font-size($text);
    color: $gray;
    @include mq('tablet') {
        margin-right: 40px;
        &:last-child {
            margin-right: 0;
        }
    }
}

.intro__key-item--mobile {
    text-align: center;
    margin: 10px 0 20px 0;
}

.intro__cta {
    text-decoration: none;
    margin: 0;
    a {
    }
}

.intro__secondary-cta {
    @include links-on-light;
    margin-top: 40px;
    @include font-size($text);
    @include mq('tablet') {
        margin-top: 50px;
    }
}

// INTRO LOGGED IN

.intro__next-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    display: grid;
    justify-content: space-between;
    grid-gap: 40px;
    @include mq('mobile') {
        grid-template-columns: 1fr;
    }
    @include mq('tablet') {
        grid-template-columns: 1fr 1fr;
    }
    @include mq('desktop') {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.intro__next-item {
    border: 1px solid $grayBorder;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    text-align: center;
    flex-direction: column;
    padding: 40px;
    @include white-box;
    @include links-on-light;
    h3 {
        @include font-size($text-md);
        margin: 0 0 10px;
    }
    p {
        @include font-size($text-xs);
        color: $grayDark;
        margin-top: 0;
        margin-bottom: 30px;
    }
    a {
        @include font-size($text-sm);
        //text-decoration: none;
    }
}

.intro__next-cta {
    width: 100%;
    a {
        width: 100%;
        text-decoration: none;
    }

    margin-bottom: 30px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .intro__next-list {
        display: flex;
        flex-wrap: wrap;
    }
    .intro__next-item {
        width: 30%;
        margin-bottom: 40px;
    }
}
