.participants__container {
    background-color: $blue;
}

.participants__inner {
    flex-direction: column;
    align-items: center;
    @include pad-top-large;
    @include pad-bot-large;
}

.participants__header {
}

.participants__title {
    color: $white;
}

.participants__intro {
    color: $white;
}

.participants__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    display: grid;
    justify-content: space-between;
    grid-gap: 20px;
    @include mq('mobile') {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
    @include mq('tablet') {
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
    @include mq('desktop') {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
    }
}

.participant {
    border: 1px solid $white;
    a {
        padding: 16px 20px 14px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        flex-direction: row;
        text-decoration: none;
    }

    h3 {
        @include links-on-light;
        @include font-size($text);
        margin: 0;
        color: $white;
        font-weight: normal;
    }
    p {
        @include font-size($text-xs);
        color: $whiteFaded;
        margin: 0;
    }
}

.partcipant__avatar {
    width: 40px;
    height: 40px;
    margin-right: 14px;
    img {
        border-radius: 40px;
        width: 40px;
        height: 40px;
    }
}

.participant__info {
    margin-top: -5px;
    width: 100%;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .participants__list {
        display: flex;
        flex-wrap: wrap;
    }
    .participant {
        width: 30%;
        margin-bottom: 40px;
    }
}
