.prizes__container {
    background-color: $white;
}

.prizes__inner {
    flex-direction: column;
    align-items: center;
    @include pad-top-large;
    @include pad-bot-large;
}

.prizes__header {
}

.prizes__title {
    color: $black;
}

.prizes__intro {
    color: $gray;
}

.prizes {
    width: 100%;
    display: flex;
    flex-direction: column;
    @include mq('tablet') {
        flex-direction: row;
    }
}
.prize {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
    @include mq('tablet') {
        width: 50%;
    }
}
.prize__winner {
    border-bottom: 1px solid $grayBorder;
    margin-bottom: 40px;
    padding-bottom: 40px;
    @include mq('tablet') {
        margin: 0;
        padding: 0;
        border-bottom: none;
        border-right: 1px solid $grayBorder;
    }
}
.prize__runnerups {
    padding-bottom: 20px;
    @include mq('tablet') {
        padding: 0;
    }
}
.prize__title {
    font-size: 30px;
    display: flex;
    align-items: center;
    transform: rotate(-3deg);
    letter-spacing: 3.43px;
    @include brush-font;
}

.prize__title--winner {
    color: $gold;
}
.prize__title--runnerups {
    color: $silver;
}
.prize__icon {
    margin-right: 10px;
}
.prize__amount {
    @include font-size($text-xxxl);
    font-weight: bold;
    margin: 0;
}

.prize__strapline {
    @include font-size($text-sm);
    font-weight: bold;
}
.prize__items {
    @include mar-top-small;
    margin-bottom: 0;
    @include font-size($text-xs);
    color: $grayDark;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding: 0;
    text-align: center;
    @include links-on-light;
    li {
        margin-bottom: 5px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.prize__zeit {
    @include mar-top-large;
    border-top: 1px solid $grayBorder;
    border-bottom: 1px solid $grayBorder;
    padding: 40px;
    align-items: center;
    display: flex;
    flex-direction: column;
    @include mq('tablet') {
        flex-direction: row;
        max-width: 1000px;
    }
}

.prize__zeit-logo {
    width: 140px;
}

.prize__zeit-title {
    @include font-size($text-md);
    margin: 0;
}

.prize__zeit-amount {
    @include font-size($text-xxl);
}

.prize__zeit-text {
    @include font-size($text-xs);
    color: $grayDark;
    max-width: 380px;
    text-align: center;
    @include links-on-light;
    @include mq('tablet') {
        text-align: left;
        @include font-size($text-sm);
    }
}

.prize__zeit-total {
    margin: 40px 0 40px;

    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mq('tablet') {
        margin: 0;
        padding: 0 50px;
    }
}

.prizes__cta-banner {
    display: flex;
    width: 100%;
    max-width: 900px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    @include pad-top-large;
    @include pad-bot-standard;
    @include mq('tablet') {
        flex-direction: row;

        padding-bottom: 10px;
    }
}

.prizes__cta-title {
    text-align: center;
    font-weight: normal;
    margin: 0 0 20px 0;
    @include font-size($text-lg);
    @include mq('tablet') {
        text-align: left;
        margin: 0;
    }
}

.prizes__cta {
    text-decoration: none;
}
