.prizes__container {
    background-color: $white;
}

.prizes__inner {
    flex-direction: column;
    align-items: center;
    @include pad-top-large;
    @include pad-bot-large;
}

.prizes__header {
}

.prizes__title {
    color: $black;
}

.prizes__intro {
    color: $gray;
}
