.sponsors__container {
    background-color: $white;
}

.sponsors__inner {
    flex-direction: column;
    align-items: center;
    @include pad-top-large;
    @include pad-bot-large;
}

.sponsors__header {
}

.sponsors__title {
    color: $black;
}

.sponsors__intro {
    color: $gray;
}

.sponsors {
    width: 100%;
    display: flex;
    flex-direction: column;
}

//sponsors silver

.sponsors__gold {
    margin: 0;
    @include mar-bot-large;
    padding: 0;
    list-style-type: none;
    width: 100%;
    display: grid;
    justify-content: space-between;
    grid-gap: 40px;
    @include mq('mobile') {
        grid-template-columns: 1fr;
    }
    @include mq('tablet') {
        grid-template-columns: 1fr 1fr;
    }
}

.sponsor__gold {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    text-align: center;
    flex-direction: column;
    padding: 40px;
    border: 1px solid $grayBorder;
    @include white-box;
    @include links-on-light;
    img {
        width: 300px;
        @include mq('tablet') {
            margin-top: 10px;
        }
    }
    p {
        @include font-size($text);
        color: $grayDark;
        margin-top: 28px;
        margin-bottom: 28px;
        width: 100%;
    }
    a {
        display: flex;
        align-items: center;
        align-self: baseline center;
        @include font-size($text);
        @include links-on-light;
        @include mar-bot-small;
    }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .sponsors__gold {
        display: flex;
        flex-wrap: wrap;
    }
    .sponsor__gold {
        width: 45%;
        margin-bottom: 40px;
    }
}

//sponsors bronze

.sponsors__silver {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    display: grid;
    justify-content: space-between;
    grid-gap: 0 40px;
    @include mq('mobile') {
        grid-template-columns: 1fr;
    }
    @include mq('tablet') {
        grid-template-columns: 1fr 1fr;
    }
    @include mq('desktop') {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.sponsor__silver {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: column;
    padding-bottom: 40px;
    //border: 1px solid $grayBorder;
    img {
        width: 320px;
    }
    a {
        display: flex;
        align-items: center;
        align-self: baseline center;
    }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .sponsors__silver {
        display: flex;
        flex-wrap: wrap;
    }
    .sponsor__silver {
        width: 30%;
        margin-bottom: 40px;
    }
}
