.takepart__container {
    background: $white;
}

.takepart__inner {
}

.takepart__title {
}

.takepart__text {
    color: $grayDark;
}

.takepart__sub-title {
    font-weight: bold;
    margin-bottom: 0;
}

.takepart__p--lead {
    margin-top: 5px;
}

.takepart__actions {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    @include mq('tablet') {
        flex-direction: row;
        margin-bottom: 0;
    }
}

.takepart__cta {
    text-decoration: none;
    padding-top: 10px !important;
    margin-top: 0;

    @include mq('tablet') {
        @include pad-bot-small;
        @include mar-bot-standard;
    }

}

.takepart__cta--one {

    @include mq('tablet') {
        margin-right: 10px;
    }
}

.takepart__sub-title {
    font-weight: bold;
    margin-bottom: 0;
}

.takepart__small-title {
    color: $black;
    margin-bottom: 0;
    @include font-size($text);
}
