.takePart__container {
}

.takePart__inner {
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    @include pad-top-large;
    @include pad-bot-large;
}

.takePart__title {
    text-align: center;
    font-weight: normal;
    margin: 0;
    @include font-size($text-xxl);
}

.takepart__text {
    color: $grayDark;
}

.takepart__sub-title {
    font-weight: bold;
    margin-bottom: 0;
}

.takepart__p--lead {
    margin-top: 5px;
}

.takepart__cta {
    text-decoration: none;
    padding: 0;
    margin-top: 0;
    @include mar-bot-standard;
    @include pad-bot-small;
}

.takepart__sub-title {
    font-weight: bold;
    margin-bottom: 0;
}

.takepart__small-title {
    color: $grayDark;
    margin-bottom: 0;
    @include font-size($text);
}
